<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lld.auth.user.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.lld.auth.user.entity.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="orderNo" column="order_no" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="CHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="creater" column="creater" jdbcType="BIGINT"/>
        <result property="updater" column="updater" jdbcType="BIGINT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,icon,
        parent_id,order_no,path,
        component,menu_type,status,perms,
        create_time,update_time,creater,
        updater,remark
    </sql>

    <update id="updateMenuById" parameterType="com.lld.auth.user.entity.SysMenu">
        update sys_menu
        set title       = #{sysMenu.title},
            icon        = #{sysMenu.icon},
            parent_id   = #{sysMenu.parentId},
            order_no    = #{sysMenu.orderNo},
            path        = #{sysMenu.path},
            component   = #{sysMenu.component},
            menu_type   = #{sysMenu.menuType},
            status      = #{sysMenu.status},
            update_time = #{sysMenu.updateTime},
            updater     = #{sysMenu.updater}
        where id = #{sysMenu.id}
    </update>

    <select id="selectByIds" parameterType="list" resultType="com.lld.auth.user.entity.SysMenu">
        select
        <include refid="Base_Column_List"/>
        from sys_menu where id in
        <foreach item="id" collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
