<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lld.auth.user.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.lld.auth.user.entity.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="creater" column="creater" jdbcType="BIGINT"/>
            <result property="updater" column="updater" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role,role_name,
        order_no,status,create_time,
        update_time,creater,updater,
        remark
    </sql>

    <select id="selectByIds" resultType="com.lld.auth.user.entity.SysRole">
        select
        <include refid="Base_Column_List"/>
            from sys_role
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>
</mapper>
